<!DOCTYPE html>
<html>
<head>
  <% include ../partials2/header.ejs %>
</head>

<body>

    <div id="signinPage">
        <h1>登录</h1>
        <div class="tips"></div>
        <input type="text" placeholder="用户名" id="name">
        <input type="password" placeholder="密码" id="password">
        <button type="button" id="signin">登录</button>
        <button type="button" id="register">注册</button>
    </div>


</body>
</html>
