<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <div id="bg">
        <img src="background.jpg" alt="background" width="100%" height="622" />
    </div>

    <div class="img-rounded" id="signPage">
        <h1>注册</h1>
        <div class="tips"></div>
        <input  class="form-control" type="text" placeholder="名称 6~18位字母加数字" id="name">
        <input  class="form-control" type="text" placeholder="学号 8位数字不以0开头" id="ID">
        <input  class="form-control" type="text" placeholder="电话 11位数字不以0开头" id="phone">
        <input  class="form-control" type="text" placeholder="邮箱" id="email">
        <input  class="form-control" type="password" placeholder="密码 6~12位数字字母_-" id="password">
        <button class="btn" type="button" id="reset">重置</button>
        <button class="btn" type="button" id="submit">提交</button>
        <button class="btn" type="button" id="SignIn">登录</button>
    </div>



    <div class="img-rounded" id="detailPage">
        <h1>详情</h1>
        <div class="tips"></div>
        <input  class="form-control" type="text" id="nameShow" value="用户名: " readonly="readonly">
        <input  class="form-control" type="text" id="IDShow" value="学号: " readonly="readonly">
        <input  class="form-control" type="text" id="phoneShow" value="电话: " readonly="readonly">
        <input  class="form-control" type="text" id="emailShow" value="邮箱: " readonly="readonly">
        <button class="btn" type="button" id="quit">退出</button>
    </div>
    <button class="btn" type="button" id="hideshow">隐藏详情</button>

    <div id="movie">
        <h2>哈哈，纯粹无聊玩玩</h2>
        <a href="https://pan.baidu.com/s/1hsmJIh2#list/path=%2F">怪奇物语</a><br />
        <a href="https://pan.baidu.com/s/1eSaC902">权力的游戏</a><br />
        <a href="https://pan.baidu.com/s/1o8Q3iGi">西部世界</a><br />
        <a href="https://pan.baidu.com/s/1hsuRmYS#list/path=%2F">无人生还</a><br />
        <a href="https://pan.baidu.com/s/1eSsn262">黑镜</a>
    </div>


    <div id="comment">
    <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="Register and detail" data-title="Register and detail" data-url="https://signin1997.herokuapp.com/"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"gzm1997"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->        
    </div>



</body>
</html>
