<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <div id="upload" class="img-rounded">
        <h2>上传资源</h2>
        <input class="form-control" type="text" id="type" value="" placeholder="标签">
        <input class="form-control" type="text" id="name" value="" placeholder="电影名称">
        <input class="form-control" type="text" id="url" value="" placeholder="电影百度云链接">
        <button class="btn" type="button" id="send">上传</button>
    </div>

    <div id="bg">
        <img src="background.jpg" alt="background" width="100%" height="622" />
    </div>

    <div class="img-rounded" id="signPage">
        <h1>注册</h1>
        <div class="tips"></div>
        <input  class="form-control" type="text" placeholder="名称 6~18位字母加数字" id="name">
        <input  class="form-control" type="text" placeholder="学号 8位数字不以0开头" id="ID">
        <input  class="form-control" type="text" placeholder="电话 11位数字不以0开头" id="phone">
        <input  class="form-control" type="text" placeholder="邮箱" id="email">
        <input  class="form-control" type="password" placeholder="密码 6~12位数字字母_-" id="password">
        <button class="btn" type="button" id="reset">重置</button>
        <button class="btn" type="button" id="submit">提交</button>
        <button class="btn" type="button" id="SignIn">登录</button>
    </div>



    <div class="img-rounded" id="detailPage">
        <h1>详情</h1>
        <div class="tips"></div>
        <input  class="form-control" type="text" id="nameShow" value="用户名: " readonly="readonly">
        <input  class="form-control" type="text" id="IDShow" value="学号: " readonly="readonly">
        <input  class="form-control" type="text" id="phoneShow" value="电话: " readonly="readonly">
        <input  class="form-control" type="text" id="emailShow" value="邮箱: " readonly="readonly">
        <button class="btn" type="button" id="quit">退出</button>
    </div>

    <div id="movie">
        <button class="btn" type="button" id="hideshow">隐藏详情</button>
        <h2>百度云资源</h2>
        <input class="form-control" placeholder="已有标签：所有 剧 烧脑" type="text" id="searchContent" value="">
        <button type="button" id="search">按照标签搜索</button>
    </div>


    <div id="comment">
    <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="Register and detail" data-title="Register and detail" data-url="https//localhost:8000/"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"gzm1997"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->        
    </div>



</body>
</html>
