<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <div id="signPage">
        <h1>注册</h1>
        <div class="tips"></div>
        <input type="text" placeholder="名称 6~18位字母加数字" id="name">
        <input type="text" placeholder="学号 8位数字不以0开头" id="ID">
        <input type="text" placeholder="电话 11位数字不以0开头" id="phone">
        <input type="text" placeholder="邮箱" id="email">
        <input type="password" placeholder="密码 6~12位数字字母_-" id="password">
        <button type="button" id="reset">重置</button>
        <button type="button" id="submit">提交</button>
        <button type="button" id="SignIn">登录</button>
    </div>



    <div id="detailPage">
        <h1>详情</h1>
        <div class="tips"></div>
        <input type="text" id="nameShow" value="用户名: " readonly="readonly">
        <input type="text" id="IDShow" value="学号: " readonly="readonly">
        <input type="text" id="phoneShow" value="电话: " readonly="readonly">
        <input type="text" id="emailShow" value="邮箱: " readonly="readonly">

    </div>
    <button type="button" id="hide">隐藏详情</button>
    <button type="button" id="Show">显示详情</button>

    <div id="movie">
        <h2>哈哈，纯粹无聊玩玩</h2>
        <a href="https://pan.baidu.com/s/1hsmJIh2#list/path=%2F">怪奇物语</a><br />
        <a href="https://pan.baidu.com/s/1eSaC902">权力的游戏</a><br />
        <a href="https://pan.baidu.com/s/1o8Q3iGi">西部世界</a><br />
        <a href="https://pan.baidu.com/s/1hsuRmYS#list/path=%2F">无人生还</a><br />
        <a href="https://pan.baidu.com/s/1eSsn262">黑镜</a>
    </div>


</body>
</html>
