<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <div id="signPage">
        <h1>注册</h1>
        <div class="tips"></div>
        <input type="text" placeholder="用户名" id="name">
        <input type="text" placeholder="学号" id="ID">
        <input type="text" placeholder="电话" id="phone">
        <input type="text" placeholder="邮箱" id="email">
        <input type="password" placeholder="密码" id="password">
        <button type="button" id="reset">重置</button>
        <button type="button" id="submit">提交</button>
        <button type="button" id="SignIn">登录</button>
    </div>



    <div id="detailPage">
        <h1>详情</h1>
        <div class="tips"></div>
        <input type="text" id="nameShow" value="用户名: " readonly="readonly">
        <input type="text" id="IDShow" value="学号: " readonly="readonly">
        <input type="text" id="phoneShow" value="电话: " readonly="readonly">
        <input type="text" id="emailShow" value="邮箱: " readonly="readonly">
    </div>


</body>
</html>
